*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #aeaeae;
}
header{
	background: #32a89e;
	text-align: center;	
}
header img{
	width: 200px;
	padding: 5px;
}
header hgroup{
	color: white;
	padding-bottom: 15px;
	font-family: "Algerian";
	font-size: 15px;
}
header hgroup h1{
	font-size: 35px;

}
nav ul{
	text-align: center;
	background: #ffab91;
	width: 190%;
	max-width: 1000PX;
	margin: auto;
	list-style: none;
}
nav ul li a{
	text-decoration: none;
	color: white;
	padding: 25px;
	display: block;
}
nav ul li{
	display: inline-block;
}
nav ul li a:hover{
	background: #4dd0e1;

}
footer{
	width: 100%;
	height: 200px;
	background: #03fc8c;
	text-align: center;
	color: white;
}
footer p{
	padding: 55px;
}
#hermoso{
	min-height: calc(100vh - 200px- 200px);
}
.Marcar{
	background: #087f23;
}
section figure img{
	width: 500px;
	padding: 30px;
}
p{
	background: #42f5d1
	padding:25px;
}